.slider{
    visibility: 0;
    transition-duration: 5.7s ease;
}

.slider.active{
    visibility: 1;
    scale: (1.1);
    transition-duration: 5.7s ease;
}

.btnprev{
    position: absolute;
    top: 50%;
    left: 15px;
}
.btnnext{
    position: absolute;
    top: 50%;
    right: 15px;
}

.container{
    position: relative;
    width: fit-content;
}

img{
    height: 95vh;
}
